<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lian.dao.BillDao">
    <resultMap id="findByPage" type="com.lian.entity.BillInfo">
        <id column="id" property="id"></id>
        <result column="accept_station" property="acceptStation"></result>
        <result column="bill_code" property="billCode"></result>
        <result column="bill_state" property="billState"></result>
        <result column="bill_type" property="billType"></result>
        <result column="write_date" property="writeDate"></result>
    </resultMap>
    <select id="findByPage" resultMap="findByPage">
        select * from billinfo
    </select>
    <insert id="addRelease" parameterType="map">
        insert into billrelease(release_person,receive_bill_person,receive_bill_time,accept_station,bill_code)
        values (#{releasePerson},#{receiveBillPerson},#{receiveBillTime},#{acceptStation},#{bill_code})
    </insert>
</mapper>