<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lian.dao.LoginDao">
    <resultMap id="Login" type="com.lian.entity.User">
        <id column="login_id" property="loginId"></id>
        <result column="if_online" property="ifOnline"></result>
        <result column="password" property="password"></result>
    </resultMap>
    <select id="userlogin" parameterType="string" resultMap="Login">
        select * from user where login_id = #{loginId}
    </select>
    <resultMap id="FunctionWithGroup" type="com.lian.entity.FunctionWithGroup">
        <id column="id" property="id"></id>
        <result column="function_id" property="functionId"></result>
        <result column="group_id" property="groupId"></result>
    </resultMap>
    <select id="selectFunc" parameterType="string" resultMap="FunctionWithGroup">
        SELECT * FROM userwithgroup uwg join functionwithgroup fwg on uwg.group_id = fwg.group_id
        where uwg.user_id = #{loginId}
    </select>
    <update id="changePassword" parameterType="string">
        update user set password = #{newPassword} where login_id = #{loginId}
    </update>
</mapper>